<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae,
      ipsa.
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus
        corrupti vero assumenda sint tempore repudiandae nam hic a ipsa.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 768w, images/easy@2x.webp 1500w" />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 768w, images/easy@2x.jpg 1500w" />
      <img class="feature__image" src="images/easy.jpg" alt=""
    /></picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus
        corrupti vero assumenda sint tempore repudiandae nam hic a ipsa.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 768w, images/fast@2x.webp 1500w" />
      <source
        type="image/jpg"
        srcset="images/fast.jpg 768w, images/fast@2x.jpg 1500w" />
      <img class="feature__image" src="images/fast.jpg" alt=""
    /></picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus
        corrupti vero assumenda sint tempore repudiandae nam hic a ipsa.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 768w, images/wordpress@2x.webp 1500w" />
      <source
        type="image/jpg"
        srcset="images/wordpress.jpg 768w, images/wordpress@2x.jpg 1500w" />
      <img class="feature__image" src="images/wordpress.jpg" alt=""
    /></picture>
  </article>
</section>
