<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--cols-2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 768w, images/ipad@2x.webp 1500w"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 768w, images/ipad@2x.png 1500w"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon block-showcase__icon">
              <i class="fa-regular fa-image"></i>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
              nemo quasi beatae ad porro optio nulla rem recusandae doloremque
              dolorum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <span class="icon icon--primary block-showcase__icon">
              <i class="fa-solid fa-arrow-up-right-dots"></i>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
              nemo quasi beatae ad porro optio nulla rem recusandae doloremque
              dolorum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching and More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
              nemo quasi beatae ad porro optio nulla rem recusandae doloremque
              dolorum.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
